@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400..800&display=swap');

input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    border: none;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: 7px;
    width: 7px;
    rotate: 45deg;
    margin-top: -2.5px;
}

input[type="range"]::-webkit-slider-runnable-track{
    height: 1.5px;
    border-radius: 10px;
}