@import 'tailwindcss';

@theme{
    --font-primary: 'Podkova';

    --color-primary: #739D00;
    --color-accent: #AFE224;
    --color-dark: #1D2125;
    --color-danger: #DB0000;

    --text-xxs: 0.7rem;
    --text-tiny: 0.8rem;
}

@custom-variant dark (&:where(.dark, .dark *));

/* *{
    @apply transition-colors duration-200 ease-in;
} */

.alert{
    @apply border-1 border-primary dark:border-accent text-primary dark:text-accent px-2 py-0.5 rounded border-1 border-primary dark:border-accent text-primary dark:text-accent px-2 py-0.5 rounded text-tiny;
}

.badge{
    @apply px-2 text-xxs py-1 rounded-sm;
}

.long{
    @apply bg-primary dark:bg-accent text-white dark:text-dark font-extrabold;
}

.short{
    @apply bg-danger text-white font-extrabold;
}

.theme{
    @apply bg-white dark:bg-dark;
}

.icon-sm{
    @apply text-lg;
}

.button-transition{
    @apply transition duration-150 ease-in;
}

.bg-theme{
    @apply bg-primary dark:bg-accent; 
}

.text-theme{
    @apply text-primary dark:text-accent; 
}

.caption-theme{
    @apply text-dark dark:text-white;
}

.input-form{
    @apply py-1 px-2 border-1 border-primary/30 text-primary dark:text-accent outline-0 focus:border-primary dark:focus:border-accent;
}

.disabled{
    @apply bg-primary dark:bg-accent text-white dark:text-dark;
}

.button-primary{
    @apply bg-primary dark:bg-accent hover:bg-accent dark:hover:bg-primary text-white dark:text-dark hover:text-dark dark:hover:text-white cursor-pointer;
}

.button-secondary{
    @apply border-1 border-primary dark:border-accent hover:border-accent dark:hover:border-primary text-primary dark:text-accent hover:text-accent dark:hover:text-primary cursor-pointer;
}

input[type="range"]::-webkit-slider-thumb{
    @apply bg-primary;
}

.dark input[type="range"]::-webkit-slider-thumb{
    @apply bg-accent;
}

input[type="range"]::-webkit-slider-runnable-track{
    @apply bg-primary;
}

.dark input[type="range"]::-webkit-slider-runnable-track{
    @apply bg-accent;
}